{{ if content_text }}
{{ partial:content/text :content="content_text" }}
{{ /if }}

<article>
  <div class="teaser">
    <div>
      <h1>Live Musik</h1>
      <p>Letzter Mittwoch im Monat… Live-Musik offen bis 22 Uhr!</p>
    </div>
  </div>
  <h2>Restaurant, Bar</h2>
  <p>kreativ, freundlich, heimelig und entspannt geniesst es sich im nachbar.in Unsere herzliche und gelebte Gastfreundschaft macht unser Team unverwechselbar. Wir begrüssen direkte und weit entfernte Nachbarn, den Nachbarschaft muss nicht geografisch sein, viel mehr ist Nachbarschaft für uns ein Gefühl. *Essen, *Trinken, *plaudern, verweilen, etwas holen, kurz sitzen, lachen, tanzen, geniessen.</p>
  <h2>Essen</h2>
  <p>Wir bieten den ganzen Tag verschieden kleinere Leckereien aus der Küche oder unserer Vitrine an. Unser Angebot planen wir mit Bedacht und so kann es vorkommen, dass in der Bäckerei mal etwas früher ausverkauft ist. So vermeiden wir Foodwaste.</p>
  <p>Wir verwenden wann immer möglich regionale, saisonale, biologische und fair gehandelte Produkte.</p>
  <h2>Cocktails</h2>
  <p>Ganz nach dem Motto: Klassisch kann auch anders, die Vielfalt vom Quartier in einer Bar vereint. Wir lieben gute Cocktails, mit hausgemachtem Sirup, Infusionen und ausgefallenen Dekokreationen. Mit unserem Monatscocktail zeigen wir stets neue Facetten der Cocktailkunst.</p>
  <h2>Kaffee & Tee & Säfte</h2>
  <p>Mit unserer Schweizer Kaffeerösterei und dem sorgfältig ausgesuchten Teeproduzenten in den Schweizer Bergen haben wir Partner gefunden, die Kaffee und Tee genau so lieben wie wir. Unser Tee’s werden nachbarschaftlich im Kännli serviert.<br>Frische und hausgemachte Säfte finden Sie täglich in unserer Vitrine sowohl für den Genuss im Haus als auch zum Mitnehmen.</p>
  <h2>Bäckerei</h2>
  <p>Da sich Nachhaltigkeit für uns nicht auf die Minimierung der Umweltbelastung beschränkt, sondern auch soziale Komponenten berücksichtigt, haben wir uns für eine Zusammenarbeit mit der Stiftung St. Jakob entschieden. Die Stiftung St. Jakob ist ein wirtschaftlich ausgerichtetes Sozialunternehmen. Sie bietet Menschen mit einer Beeinträchtigung, marktgerechte Arbeit und Ausbildungsplätze in einem sozialen Umfeld.</p>
  <h2>Menükarte</h2>
  <p><a href="/storage/menu/Menu_nachbar-nachbar-menu.pdf" target="_blank">nachbar Menu</a></p>
</article>
<article>
  <h2>Öffnungszeiten</h2>
  <p>Montag & Dienstag 8-14 Uhr<br>Mittwoch bis Freitag 8-18 Uhr<br>Samstag und Sonntag 8-17 Uhr</p>
  <h2>Kontakt</h2>
  <p>Telefon 044 576 49 83<br>E-Mail <a href="mailto:info@nachbar.in">info@nachbar.in</a></p>
  <h2>Adresse</h2>
  <p>Mattenhof 4, 8051 Zürich </p>
</article>