{{ if content_text }}
  <article>
    {{ content_text }}
      {{ if type == 'news' }}
        <div class="teaser">
          <div>
            {{ if title }}
              <h1>{{ title }}</h1>
            {{ /if }}
            {{ if text }}
              {{ text }}
            {{ /if }}
          </div>
        </div>
      {{ /if }}
      {{ if type == 'text' }}
        {{ text }}
      {{ /if }}
    {{ /content_text }}
  </article>
{{ /if }}

{{ if content_meta }}
  <article>
    {{ content_meta }}
  </article>
{{ /if }}