/**
 * -----------------------------------------------------------------------------
 * File: component/heading
 * -----------------------------------------------------------------------------
 */

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  color: $color-gold;
  @include font-bold();
  @include font-size($fs-lg);
  margin-bottom: 5px;
  text-transform: uppercase;
}