/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:  #222222;
$color-white:  #fafafa;
$color-gold:   #8d7632;
