/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsive font sizes
$fs-sm: (
  null: (16px,1.5),
  sm:   (18px,1.5),
);

$fs-lg: (
  null: (18px,1.4),
  sm:   (20px,1.4),
);

$fs-xl: (
  null: (36px,1.2),
  sm:   (52px,1.2),
);

$fs-teaser: (
  null: (22px,1.4),
  sm:   (36px,1.4),
);
